<div class="wrapper" id="about">
  <h1>About</h1>
  <div id="content" class="clearfix">
    <div id="text">
      <h2>Hi, everyone...</h2>
      <p>
        I'm another self-taught, wannabe web developer. I've been learning JavaScript and its frameworks to build websites and web applications. I focus on both front-end and back-end development, aiming to become a full stack developer.
      </p>
    </div>
    <div id="image">
      <img src="image/about-dummy.jpg" alt="image">
    </div>
  </div>
</div>