<div class="wrapper" id="blog">
  <h1>Blog</h1>
  <div class="container">
    <ul class="clearfix">
      {{#posts}}
        <li>
          <div id="date">
            <span>{{date}}</span>
          </div>
          <a href="/post/{{_id}}"><img src="image/uploads/{{mainImageName}}" alt="post 1"></a>
          <div class="inner-box">
            <p>"{{{truncate_text body 90}}} ..."</p>
            <div class="button">
              <span>Read more >>></span>
            </div>
          </div>
        </li>
      {{/posts}}
    </ul>
  </div>
</div>
{{> footer}}