<div class="wrapper" id="contact">
  <h1>Contact</h1>
  <div class="container">
    <form>
      <div>
        <input type="text" placeholder="First Name" required>
        <input type="text" placeholder="Last Name" required>
      </div>
      <div>
        <input type="text" id="email" placeholder="Email" required>
      </div>
      <div>
        <input type="text" placeholder="Subject">
      </div>
      <div>
        <textarea name="message" id="message" cols="50" rows="10" placeholder="Message"></textarea>
      </div>
      <div>
        <button id="submit" type="submit">Send</button>
      </div>
    </form>
  </div>
  {{> footer}}
</div>