<div id="footer">
  <div id="links">
    <ul class="clearfix">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <p>Made by <strong>Merizza Khan</strong><br />
    <i class="far fa-copyright"></i>2018. All Rights Reserved
  </p>
  <div id="footer-social">
    <ul class="clearfix">
      <li>
      <a href="https://www.freecodecamp.org/merizza" target="_blank"><i class="fab fa-free-code-camp"></i></a>
      </li>
      <li>
      <a href="https://github.com/Merizza" target="_blank"><i class="fab fa-github-square"></i></a>
      </li>
      <li>
      <a href="https://codepen.io/mocode13/" target="_blank"><i class="fab fa-codepen"></i></a>
      </li>
    </ul>
  </div>
</div>