<header class="wrapper">
  <img src="image/header-picture.jpg" alt="profile picture">
  <div class="overlay"></div> 
</header>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
<div id="social">
  <ul>
    <li>
    <a href="https://www.freecodecamp.org/merizza" target="_blank"><i class="fab fa-free-code-camp"></i></a>
    </li>
    <li>
    <a href="https://github.com/Merizza" target="_blank"><i class="fab fa-github-square"></i></a>
    </li>
    <li>
    <a href="https://codepen.io/mocode13/" target="_blank"><i class="fab fa-codepen"></i></a>
    </li>
  </ul>
</div>
<section id="header-title">
  <h1>Welcome, I'm ...</h1>
  <h2>Merizza Khan</h2>
</section>
