<header>
    <nav>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Portfolio</li>
        <li>Blog</li>
        <li>Contact</li>
      </ul>
    </nav>
    <div id="social">
      <ul>
        <li>
        <a href="https://www.freecodecamp.org/merizza" target="_blank"><i class="fab fa-free-code-camp"></i></a>
        </li>
        <li>
        <a href="https://github.com/Merizza" target="_blank"><i class="fab fa-github-square"></i></a>
        </li>
        <li>
        <a href="https://codepen.io/mocode13/" target="_blank"><i class="fab fa-codepen"></i></a>
        </li>
      </ul>
    </div>
    <div class="container">
     <img src="image/pic.jpg" alt="profile picture">
      <section>
        <h1>Welcome to my site</h1>
        <h2>Merizza Khan</h2>
      </section>
    </div>
  </header>
