<div class="wrapper" id="blog">
  <h1>Blog</h1>
  <div class="container">
    <ul class="clearfix">
      <li>
        <div id="date">
          <span>{{post.[0].date}}</span>
        </div>
        <a href="/post/{{post.[0]._id}}"><img src="image/uploads/{{post.[0].mainImageName}}" alt="post 1"></a>
        <div class="inner-box">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <div class="button">
            <span>Read more >>></span>
          </div>
        </div>
      </li>
      <li>
        <div id="date">
          <span>25/12/2017</span>
        </div>
        <img src="image/post2.jpg" alt="post 2"> 
        <div class="inner-box">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <div class="button">
            <span>Read more >>></span>
        </div>
        </div>
      </li>
      <li>
        <div id="date">
          <span>25/12/2017</span>
        </div>        
        <img src="image/post3.jpg" alt="post 2">
        <div class="inner-box">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <div class="button">
            <span>Read more >>></span>
          </div>
        </div>
      </li>
      <li>
        <div id="date">
          <span>25/12/2017</span>
        </div>        
        <img src="image/dummy.jpg" alt="post 2">
        <div class="inner-box">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <div class="button">
            <span>Read more >>></span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>