<div class="wrapper" id="projects">
  <h1>Projects</h1>
  <div class="container">
    <ul class="clearfix">
      <li>
        <img src="image/project1.png" alt="project 1">
        <div class="inner-box">
          <p>Random Quote Generator</p>
        </div>
      </li>
      <li>
        <img src="image/project2.png" alt="project 2"> 
        <div class="inner-box">
          <p>Project 2</p>
        </div>
      </li>
      <li>        
        <img src="image/dummy.jpg" alt="project 2">
        <div class="inner-box">
          <p>Project 3</p>
        </div></li>
      <li>    
        <img src="image/dummy.jpg" alt="project 2"> 
        <div class="inner-box">
          <p>Project 4</p>
        </div></li>
    </ul>
    <ul class="clearfix">
      <li>        
        <img src="image/dummy.jpg" alt="project 2"> 
        <div class="inner-box">
          <p>Project 5</p>
        </div></li>
      <li>     
        <img src="image/dummy.jpg" alt="project 2"> 
        <div class="inner-box">
          <p>Project 6</p>
        </div></li>
      <li>        
        <img src="image/dummy.jpg" alt="project 2"> 
        <div class="inner-box">
          <p>Project 7</p>
        </div></li>
      <li>        
        <img src="image/dummy.jpg" alt="project 2"> 
        <div class="inner-box">
          <p>Project 8</p>
        </div></li>
    </ul>
  </div>
</div>