@import url("https://fonts.googleapis.com/css?family=Lato|Sail");
header {
  margin: 0 auto;
  background-color: #202020; }
  header nav {
    height: 50px;
    width: 80%;
    margin: 0 auto;
    border-bottom: 3px solid #C5913F; }
    header nav ul {
      margin: 0;
      padding: 15px 0;
      width: 100%;
      list-style: none;
      line-height: 20px;
      text-align: center; }
      header nav ul li {
        display: inline-block;
        width: calc(80% / 5);
        font-weight: bold; }
        header nav ul li:hover {
          background-color: #C5913F; }
  header #social ul {
    padding: 0; }
    header #social ul li {
      width: 50px;
      height: 25px;
      text-align: center;
      background-color: #C5913F;
      margin-top: 5px;
      list-style: none;
      font-size: 1.3rem; }
      header #social ul li:hover {
        background-color: #202020; }
      header #social ul li a, header #social ul li a:active, header #social ul li a:visited {
        color: #FAEDCD; }
  header .container {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #202020; }
    header .container img {
      width: 120px;
      height: 100px;
      border-radius: 50%;
      border: 3px solid #C5913F;
      margin-top: 100px; }
    header .container section {
      box-sizing: content-box;
      height: 150px;
      line-height: 50%; }
      header .container section h1, header .container section h2 {
        margin: 0 auto; }
      header .container section h1 {
        line-height: 50px; }
      header .container section h2 {
        font-size: 3rem;
        color: #C5913F;
        letter-spacing: 3px;
        width: 30%;
        line-height: 90px;
        border: 5px solid #C5913F; }

#about {
  background-color: #C5913F; }
  #about h1 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5%;
    line-height: 5%; }
  #about #content {
    width: 95%;
    margin: 5% auto;
    text-align: center; }
    #about #content #text, #about #content #image {
      display: inline-block;
      width: calc(80% / 2);
      height: 300px; }
    #about #content #text {
      float: left;
      padding-right: 5%;
      margin-left: 4%;
      border: 4px solid #202020;
      text-align: justify; }
    #about #content #image {
      border: 4px solid #202020; }
      #about #content #image img {
        width: 90%;
        height: 300px; }

#projects {
  background-color: #FAEDCD; }
  #projects h1 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5%;
    line-height: 5%;
    color: #202020; }
  #projects .container {
    margin: 10% 0;
    height: 60%;
    position: relative; }
    #projects .container ul {
      height: auto; }
      #projects .container ul li {
        float: left;
        padding: 0;
        width: calc(100% / 5);
        height: 200px;
        margin-left: 2%;
        list-style: none;
        text-align: center;
        position: relative; }
        #projects .container ul li:first-child {
          margin-left: 5%; }
        #projects .container ul li img {
          width: 100%;
          height: 100%; }
        #projects .container ul li .inner-box {
          position: absolute;
          width: 100%;
          height: 30%;
          bottom: 0;
          left: 50%;
          color: transparent;
          background-color: transparent;
          transform: translateX(-50%); }
          #projects .container ul li .inner-box:hover {
            padding: 5% 0;
            color: #FAEDCD;
            background-color: #202020;
            opacity: 0.8; }

.clearfix:after {
  display: table;
  content: '';
  clear: both; }

#blog {
  background-color: #202020; }
  #blog h1 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5%;
    line-height: 5%; }
  #blog .container {
    margin: 10% 0;
    height: 60%;
    position: relative; }
    #blog .container ul {
      height: 80%; }
      #blog .container ul li {
        float: left;
        padding: 0;
        width: calc(100% / 5);
        height: 100%;
        margin-left: 2%;
        list-style: none;
        text-align: center;
        position: relative; }
        #blog .container ul li:first-child {
          margin-left: 5%; }
        #blog .container ul li #date {
          width: 50%;
          background-color: #C5913F;
          border: 1px solid #C5913F;
          border-top-right-radius: 20px;
          border-top-left-radius: 20px; }
        #blog .container ul li img {
          width: 100%;
          height: 70%; }
        #blog .container ul li .inner-box {
          position: absolute;
          width: 100%;
          height: 30%;
          bottom: 0;
          left: 50%;
          color: #FAEDCD;
          background-color: transparent;
          transform: translateX(-50%); }
          #blog .container ul li .inner-box:hover {
            color: #FAEDCD;
            background-color: #202020;
            opacity: 0.7; }
          #blog .container ul li .inner-box .button {
            margin: 0 auto;
            border: 2px solid #C5913F;
            border-radius: 5px;
            background-color: #C5913F;
            width: 50%;
            color: #FAEDCD;
            font-size: 0.9rem; }
            #blog .container ul li .inner-box .button:hover {
              color: #202020; }

#contact {
  background-color: #C5913F; }
  #contact h1 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5%;
    line-height: 5%; }
  #contact .container {
    margin: 10% 0;
    height: 60%; }
    #contact .container form {
      width: 500px;
      margin-left: 10%; }
      #contact .container form div input {
        height: 30px;
        width: 70%;
        margin-bottom: 10px;
        border: none;
        border-bottom: 3px solid #202020;
        background: #C5913F;
        outline: none; }
      #contact .container form ::placeholder {
        color: #FAEDCD; }
      #contact .container form div textarea {
        margin-top: 20px;
        width: 70%;
        border: none;
        background-color: #202020;
        color: #FAEDCD; }
      #contact .container form #submit {
        margin-top: 20px;
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 5px;
        background-color: #202020;
        color: #FAEDCD;
        font-weight: bold; }
        #contact .container form #submit:hover {
          color: #C5913F; }

body,
html {
  margin: 0;
  padding: 0;
  background-color: #665C56;
  color: #FAEDCD;
  font-family: "Lato"; }

.wrapper {
  width: 100%;
  height: 875px; }

/*# sourceMappingURL=style.css.map */
