#about {
  background-color: $darkColor3;
  h1 {
    @include heading;
  }
  #content {
    width: 95%;
    margin: 10% auto;
    text-align: center;
    #text, #image {
      display: inline-block;
      width: calc(87% / 2);
      height: 400px;
    }
    #text {
      float:left;
      margin-left: 5%;
      text-align: justify;
      h2 {
        text-align: right;
      }
    }
    #image {
      img {
        width: 100%;
        height: 400px;
      }
    }
  }
}