@import url('https://fonts.googleapis.com/css?family=Cousine:400,700|Crushed');

$crushed : 'Crushed', cursive;
$cousine : 'Cousine', monospace;

$salmon : #AB7665;
$white  : #FFF8DD;

header {
  margin: 0 auto;
  background: no-repeat center url("../../image/header-bg.png");
  background-size: cover;
  position:relative;
  color: $salmon;
  font-family: $crushed;
  h1 {
    height: auto;
    width: 50%;
    margin: 0 auto;
    padding-top: 10%;
    text-align: center;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 10px;
  }
  h2 {
    font-size: 3em;
    margin: 1em auto;
    text-transform: uppercase;
    width: 50%;
    text-align: center;
    letter-spacing: 0.2em;
    font-weight: normal;
    border-top: 3px solid $salmon;
    border-bottom: 3px solid $salmon;
    padding: 0.8em 0;
  }
  nav {
    width: 60%;
    height: auto;
    margin: 0 auto;
    margin-top: -2em;
    ul {
      list-style: none;
      width: 100%;
      padding: 0;
      text-align: center;
      li {
        text-decoration: none;
        display: inline-block;
        width: calc(100%/6);
          #{$a-tags} {
            color: $salmon;
            text-decoration: none;
          }
        a {
          
          //make a link have 100% width
          display: inline-block;
          width: 100%;
          
          padding: 0.3em 0;
          font-family: $cousine;
          font-weight: bold;
          text-transform: uppercase;
          transition: background-color 0.7s;
          
          &:hover {
            background-color: $salmon;
            color: #FFF8DD;
          }
        }
      }
    }
  }
  #down {
    width: 2em;
    height: 2em;
    margin: 0 auto;
    margin-top: 15em;
    text-align: center;
    i {
      font-size: 1.1em;
      line-height: 2em;
      transition: font-size 0.5s;
      &:hover {
        font-size: 1.3em;
        cursor: pointer;
      }
    }
  }
}

#social {
  position: absolute;
  top: 8em;
  width: 5em;
  height: 8em;
  ul {
    padding: 0;
    li {
      width: 4em;
      height: 2em;
      text-align: center;
      background-color: #AB7665;
      margin-top: 0.5em;
      list-style: none;
      font-size: 1.3em;
      line-height: 2em;
      box-shadow: 0 2px 2px #201E1C;
      transition: width 0.3s;
      &:hover {
        width: 4.3em;
      }
      #{$a-tags} {
        color: $white;
      }
    }
  }
}
